*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgba(48, 94, 138, 0.349);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.stopwatch{
    background-color:rgba(48, 94, 138, 0.897);
    padding: 20px 24px;
    border-radius: 10px;
}

.timerDisplay{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border-radius: 10px 10px 0 0;
    font-size: 50px;
    font-weight: 600;
}
#lapTimes {
    text-align: center;
    margin-top: 10px;
    color:black; 
}

 

.buttons{
    width: 85%;
    margin: 60px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 20px;
}

.btn{
    font-size: 20px;
    background: none;
    border: none;
    color: #fff;
    background-color: var(--clr);
    padding: 12px 24px;
    margin-inline: 12px;
    border-radius: 8px;
    cursor: pointer;
}
/* #lapBtn {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #lapBtn:hover {
    background-color: #45a049;
  }
  
  #lapBtn:active {
    background-color: #3e8e41;
  } */